@using BTCPayServer.Plugins.Boltz
@using Boltzrpc
@using BTCPayServer.Plugins.Boltz.Models
@inject BoltzService BoltzService
@{
    var pairInfo = await BoltzService.AdminClient.GetPairInfo(new Pair { From = Currency.Btc, To = Currency.Lbtc }, SwapType.Reverse);
    var stats = new List<Stat>
    {
        new() { Name = "Boltz Service Fee", Value = pairInfo.Fees.Percentage, Unit = Unit.Percent },
        new() { Name = "Network Fee", Value = pairInfo.Fees.MinerFees, Unit = Unit.Sat },
        new() { Name = "Min Amount", Value = pairInfo.Limits.Minimal, Unit = Unit.Sat },
        new() { Name = "Max Amount", Value = pairInfo.Limits.Maximal, Unit = Unit.Sat },
    };
}

<div class="d-flex flex-column gap-2">
    <h4>Current Pair Info</h4>
    <partial name="Boltz/_Stats" model="stats"/>
</div>