@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Plugins.Boltz.Models
@inject BoltzService BoltzService
@model FeesModel
@{
    try
    {
        var pairInfo = await BoltzService.GetPairInfo(Model.Pair!, Model.SwapType!.Value);
        var stats = BoltzService.PairStats(pairInfo);

        <partial name="Boltz/_Stats" model="stats" />
    }
    catch (Exception)
    {
        <div class="alert alert-danger">
            Fee info not available, check logs for more details.
        </div>
        return;
    }
}
