@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Security
@inject BoltzDaemon Daemon

@if (Daemon.Starting)
{
    <div class="alert alert-info">
        <span>Boltz Client is Starting...</span>
    </div>
}