@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Security
@using Boltzrpc
@using BTCPayServer.Plugins.Boltz.Models
@inject BoltzService BoltzService
@{
    var storeId = Context.GetImplicitStoreId();
    var client = BoltzService.GetClient(storeId);
    var response = await client!.GetStats();
}

<div class="d-flex flex-column gap-2">
    <h4>Total Swap Stats</h4>
    <partial name="Boltz/_Stats" model="BoltzClient.ParseStats(response.Stats)"/>
</div>