@model Boltzrpc.Wallet

<div class="balances d-flex flex-wrap">
    <div class="balance">
        <div class="d-flex align-items-baseline gap-1">
            <h3 class="d-inline-block me-1" data-sensitive>@Model.Balance.Total</h3>
            <span class="text-secondary fw-semibold text-nowrap">
                <span class="currency">@Model.Currency</span> in total
            </span>
        </div>
    </div>
</div>