@using BTCPayServer.Plugins.Boltz
@inject BoltzDaemon Daemon
@{
    Layout = "../Shared/_NavLayout.cshtml";
}
<style>
/*
    #mainContent > section {
        padding: 3rem !important;
    }
 */
</style>


@if (Daemon.UpdateAvailable)
{
    <a class="d-block alert alert-info my-2" href="@Daemon.LatestRelease!.HtmlUrl">
        A newer version of boltz-client is available.
    </a>
}
@RenderBody()