@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Security
@inject BoltzDaemon Daemon
@{
    Layout = "../Shared/_NavLayout.cshtml";
}
<style>
/*
    #mainContent > section {
        padding: 3rem !important;
    }
 */
</style>


@if (Daemon.UpdateAvailable && User.IsInRole(Roles.ServerAdmin))
{
    <div class="alert alert-info mt-2 mb-4 d-flex align-items-center justify-content-between">
        <a class="text-white" href="@Daemon.LatestRelease!.HtmlUrl">A newer version of boltz-client is available.</a>
        <form method="post" asp-controller="Boltz" asp-action="Admin" asp-route-storeId="@Context.GetImplicitStoreId()">
            <button class="btn btn-info" name="command" value="Update">Update</button>
        </form>
    </div>
}
@RenderBody()