@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Security
@inject BoltzDaemon Daemon
@{
    Layout = "../Shared/_Layout.cshtml";
    var storeId = Context.GetImplicitStoreId();
}
<style>
/*
    #mainContent > section {
        padding: 3rem !important;
    }
 */
</style>

<div class="sticky-header">
    <h2>@ViewData["Title"]</h2>
    <a asp-action="SetupMode" asp-route-storeId="@storeId" class="btn btn-secondary text-nowrap">
        Setup
    </a>
</div>

<partial name="Boltz/_Notification"/>
@RenderBody()