@model Autoswaprpc.GetRecommendationsResponse
@{
    Layout = "_LayoutSetup";
    ViewData["Title"] = "Enable Autoswap";


    ViewData["Description"] = Model.Lightning.FirstOrDefault()?.Swap is not null || Model.Chain.FirstOrDefault()?.Swap is not null
        ? "Based on your configuration the following swaps will be executed"
        : "All balances are within the configured threshold, no swap will be immediately executed.";
}

<form method="post" class="mt-3">

    @if (Model.Lightning.Count > 0)
    {
        <h4 class="mt-4">Lightning</h4>
        <partial name="Boltz/_LightningRecommendations" model="Model.Lightning"/>
    }

    @if (Model.Chain.Count > 0)
    {
        <h4 class="mt-4">Chain</h4>
        <partial name="Boltz/_ChainRecommendations" model="Model.Chain[0]"/>
    }

    <div class="d-flex flex-row gap-2 justify-content-between mt-4">
        <button name="command" value="Enable" type="submit" class="btn btn-success">
            Enable
        </button>
        <button name="command" value="Skip" type="submit" class="btn btn-secondary">
            Skip for now
        </button>
    </div>
</form>