@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Plugins.Boltz.Models
@using BTCPayServer.Security
@using Boltzrpc
@using BTCPayServer.Components
@using BTCPayServer.Plugins.Boltz.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Plugins.Boltz.Models.PayoutsModel
@{
    ViewData.SetActivePage(BoltzNavPages.Payouts, "Payouts");
    ViewData["Title"] = "Payouts";
}

@if (Model.Payouts.Count > 0)
{
    <p>
        The following payouts have been approved and are awaiting payment.
    </p>
    <partial name="Boltz/_PayoutsTable" model="Model.Payouts" />
}
else
{
    <p class="text-secondary mt-3">
        There are no payouts awaiting payment.
    </p>
}
