@using Boltzrpc
@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Security
@using BTCPayServer.Plugins.Boltz.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject BoltzService BoltzService
@{
    Layout = "_LayoutSetup";
    ViewData["Title"] = "How does it work?";

    var storeId = Context.GetImplicitStoreId();
    var fees = new FeesModel
    {
        Pair = new Pair { From = Currency.Btc, To = Currency.Btc },
        SwapType = SwapType.Submarine,
    };
}

<p class="my-3">
    You can receive mainchain BTC which will be directly swapped to your LN node, allowing you to have one unified balance for both onchain and offchain payments.
    The boltz fees are passed to the customer, so you will receive the exact amount you expect. If boltz services are unavailable, the plugin will simply fall back to the existing onchain payment method, if configured.
</p>

<div class="my-3">
    <h4>Fees and Amounts</h4>
    <partial name="Boltz/_Fees" model="fees"/>
</div>


<a asp-controller="Boltz" asp-action="SetupWallet" asp-route-storeId="@storeId" asp-route-flow="@WalletSetupFlow.OnchainPayments" class="btn btn-success">
    Continue
</a>