@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Plugins.Boltz.Models
@using BTCPayServer.Security
@using Boltzrpc
@model BTCPayServer.Plugins.Boltz.Models.SwapsModel
@inject BoltzService BoltzService
@{
    ViewData.SetActivePage("Boltz", "Swaps", "Swaps");

    var storeId = Context.GetImplicitStoreId();
}

@if (Model.SwapInfo != null)
{
    var type = Model.SwapInfo.ChainSwap != null ? SwapType.Chain : Model.SwapInfo.ReverseSwap != null ? SwapType.Reverse : SwapType.Submarine;
    ViewData["Title"] = $"{type} Swap";
    <h3 class="text-center mx-auto">@ViewData["Title"]</h3>
    <partial name="_SwapInfoPartial" model="Model.SwapInfo"/>
}
else if (Model.Swaps is not null)
{
    <h4>Swaps</h4>
    @if (Model.Swaps.AllSwaps.Count > 0)
    {
        <partial name="Boltz/_SwapsTable" model="Model.Swaps.AllSwaps.ToList()"/>
        <vc:pager view-model="Model"/>
    }
    else
    {
        <p class="text-secondary mt-3">
            There are no swaps.
        </p>
    }
}