@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Plugins.Boltz.Models
@using BTCPayServer.Security
@using Boltzrpc
@using BTCPayServer.Components
@using BTCPayServer.Plugins.Boltz.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BTCPayServer.Plugins.Boltz.Models.SwapsModel
@{
    ViewData.SetActivePage(BoltzNavPages.Swaps, "Swaps");
}

@if (Model.SwapInfo != null)
{
    var type = Model.SwapInfo.ChainSwap != null ? SwapType.Chain : Model.SwapInfo.ReverseSwap != null ? SwapType.Reverse :
    SwapType.Submarine;
    ViewData["Title"] = $"{type} Swap";
    ViewData["NoHeader"] = true;
    <h3 class="text-center mx-auto">@ViewData["Title"]</h3>
    <partial name="_SwapInfoPartial" model="Model.SwapInfo" />
}
else if (Model.Swaps is not null)
{
    @if (Model.Swaps.AllSwaps.Count > 0)
    {
        <partial name="Boltz/_SwapsTable" model="Model.Swaps.AllSwaps.ToList()" />
        <vc:pager view-model="Model" />
    }
    else
    {
        <p class="text-secondary mt-3">
            There are no swaps.
        </p>
    }
}